<div class="card">
  <div class="card-header">
    <ng-container [ngTemplateOutlet]="cardHeader || defaultCardHeader"></ng-container>
  </div>

  <div class="card-content">
    <ng-container [ngTemplateOutlet]="cardContent || defaultCardContent"></ng-container>
  </div>

  <div class="card-footer">
    <ng-container [ngTemplateOutlet]="cardFooter || defaultCardFooter"></ng-container>
  </div>
</div>

<ng-template #defaultCardHeader> </ng-template>

<p>hello</p>
<ng-template #defaultCardContent>
  <h2 class="default">Card</h2>
  <p class="default">This is a default card</p>
</ng-template>

<ng-template #defaultCardFooter></ng-template>
