.card {
  min-height: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-medium);
  transition: 0.15s ease-in-out all;
  overflow: hidden;
  margin-bottom: 0.5rem;
  word-break: break-word;

  &:hover {
    box-shadow: var(--box-shadow-dark);
  }

  img {
    height: 100%;
    width: 100%;
  }

  .card-content,
  .card-footer {
    margin: -0.5rem 0.5rem 1rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }
}

.default {
  color: orangered;
}
