rvg-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main sidebar"
    "footer sidebar";
  min-height: 100dvh;
  max-width: 100dvw;
}

main {
  grid-area: main;
  padding-top: 1rem;
  width: 100%;
  margin-inline: auto;
}

rvg-sidebar {
  grid-area: sidebar;
}

rvg-footer {
  grid-area: footer;
  margin-top: 5rem;
}
