rvg-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "footer";
  min-height: 100dvh;
  max-width: 100dvw;
}

main {
  grid-area: main;
  padding-top: 1rem;
}

rvg-footer {
  grid-area: footer;
  margin-top: 5rem;
}
