<form [formGroup]="wishlistItemFormGroup" (ngSubmit)="onSubmit()" class="wishlist-form">
  <label for="product-quantity">Product Quantity</label>
  <input
    type="number"
    name="Product Quantity"
    id="product-quantity"
    formControlName="productQuantity"
    min="0"
    [max]="itemsInStock$ | async"
  />

  <p>
    Items still in stock: <span class="stock-items">{{ itemsInStock$ | async }}</span>
  </p>

  <rvg-button
    buttonText="Change your wish quantity!"
    [isAdding]="false"
    [isDisabled]="wishlistItemFormGroup.invalid"
  ></rvg-button>
</form>
