aside {
  position: fixed;
  right: 0;
  top: 56px;
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--background-body);
  box-shadow: var(--box-shadow-dark);
  transition: 0.15s ease-in-out all;

  &.hideSidebar {
    right: calc(-1rem - var(--sidebar-width));

    &:after {
      display: none;
    }
  }
}
