<aside [ngClass]="{ hideSidebar: !isOpen }">
  <h1>Sidebar</h1>

  @if ((wishlistItems$ | async)?.length) {
    <ul>
      @for (wishlistItem of wishlistItems$ | async; track wishlistItem.id) {
        <li>
          <rvg-card [cardContent]="wishlistItemContent"></rvg-card>

          <ng-template #wishlistItemContent>
            <h3>{{ wishlistItem.name }}</h3>

            <rvg-wishlist-form [wishlistItem]="wishlistItem"></rvg-wishlist-form>
          </ng-template>
        </li>
      }
    </ul>
  } @else {
    <p>You have nothing to wish for...</p>
  }
</aside>
