<aside
  rvgOutsideClick
  [ngClass]="{ hideSidebar: !isOpen }"
  (clickOutsideElement)="handleClickOutside()"
>
  <h1>Sidebar</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat
    alias dolore tempora, ratione vitae quos sapiente necessitatibus amet
    laborum, magnam aspernatur dignissimos iste ipsum natus aut assumenda
    nostrum. Sint fuga illo iusto, rerum perspiciatis nostrum quibusdam, iste
    corporis consequuntur accusantium ratione eligendi natus aliquid aut ipsa
    sit! Deleniti, quasi dignissimos labore odit quam vero aliquam. Provident
    rerum illum dolores facilis, rem delectus, accusamus cumque animi minus fuga
    quos doloribus aliquid quaerat adipisci reprehenderit? Asperiores aliquam,
    placeat veritatis deleniti in assumenda magni nemo consectetur architecto
    non molestiae, perspiciatis enim. Blanditiis alias officiis aspernatur,
    quaerat ipsum ipsam, quos rerum sit minus consequuntur nihil omnis
    perferendis ea, libero dolores enim animi! Sapiente fugiat ad aspernatur eum
    quis dignissimos numquam hic omnis ullam. Culpa recusandae, mollitia maxime
    vitae rerum asperiores incidunt quas quidem error beatae debitis illo rem
    nesciunt officia earum. Nemo sapiente reiciendis atque consequuntur error
    saepe consectetur sequi. Unde distinctio molestiae deserunt veniam
    architecto, eveniet accusantium, blanditiis ullam quis non a, quam error?
    Natus voluptatem, optio consequuntur recusandae quibusdam nisi perferendis
    quidem harum omnis eius perspiciatis minus fuga veniam numquam delectus
    autem nulla ab dolore nesciunt porro minima hic facere architecto. Esse
    minima rerum vero dicta quibusdam, debitis asperiores non reprehenderit.
  </p>
</aside>
